table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: blue;
    border-collapse: collapse;
}
table td, table th{
    border: 1px solid violet;
    padding: 10px;
    min-height: 160px;
}
img{
    width: 100px;
    height: 100px;
}