.bg_style{
    background-color: blue;
}
.product-img{
    object-fit:contain;
    width: 100%;
    height: 300px;
}
.product-list-wrapper{
   
    margin-top: 80px;
    margin-bottom: auto;
}
.product-list img{
    width: 100%;
    object-fit: contain;
}
.product-list{
    border: 2px solid blue;
}
.product-details{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgray;
    margin-left: 10px;
}
.product-details .name-head{
    text-align: center;
    font-size: large;
}
.product-footer{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    outline: none;
}